<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Hello World from Webpack dev server</h1>
                <p>This HTML file includes all js and css files</p>
                <p>I'm green because view2.css is overriding main.css</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/view1.html">View 1</a>
                <a href="/view2.html">View 2</a>
            </div>
        </div>
    </div>
</body>
</html>
