<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>View 1</h1>
            <p>This HTML file includes only js and css files for View 1</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/">Home</a>
            <a href="/view2.html">View 2</a>
        </div>
    </div>
</div>
</body>
</html>
