@import "variables";

.container {
    background-color: $background-color;
    width: 70%;

    .row {
        padding: 20px 0;

        .col {
            font-size: $font-size;
            color: #457004;
        }
    }
}
